h3 {
    
    color: rgb(156, 14, 238);
  }

.grid {
    display: grid;
    grid-template-columns: 1fr  3fr;
    column-gap: 40px;
    row-gap: 40px;
}



.content {
    /* background-color: rgb(250, 241, 241); */
    /* border: 2px solid black; */
    box-sizing: border-box;
    padding: 10px;
}   
h1 {
    
    color: rgb(156, 14, 238);
  }
  img{
    width: 200px;
  height: 200px;
 
  }
  h2 {
    
    color: rgb(8, 1, 4);
  }
   .Contact-Info {
    height: 300px;
    color: white;
    background: purple;
    /* padding: 50px;
    display: flex;
    flex-flow: column;  
    align-items: center;
     */
  }

  